#container
	each project in canvas
		div
			.header
				h1 #{project.header}
				.exit
			//- canvas is paper-js driven!
			.content
				canvas(data-main="#{project.header}")

				//- controller overlays the canvas and is responsible for controls!
				.controller
					//- main controls for playing the animation
					//- just a small element with a background-color etc!
					.play
						img(src='images/play.png')

					//- loop through each project's controls
					each control in project.controls
						//- create the html for the element!
						div(class= control.class)
							.label
								span= control.name
								span= control.default
								span= control.label
							//- need to have the controller inside of the actual class so we know whats up!
							//- controller goes here
							input(type= 'range', data-id= control.class, min= control.min, max= control.max, step='1', value= control.default)		

