doctype 5
html(lang = "en")
head
	title= header.pageTitle

	meta(name="keywords", content="#{header.metaKeywords}")
	meta(name="description", content="#{header.metaDescription}")
	script(type="text/javascript", data-main="#{header.requireApp}", src="#{header.requireUrl}")

body
	#header
		h1 #{header.pageTitle}

	