doctype 5
html(lang = "en")
	head
		title= pageTitle

		meta(name="keywords", content="#{metaKeywords}")
		meta(name="description", content="#{metaDescription}")
		script(type="text/javascript", data-main="#{requireApp}", src="#{requireUrl}")

	body

		#header

			h1 Momentum demo



